@keyframes blink{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 0.5;
    }
    40%{
        opacity: 0.7;
    }
    60%{
        opacity: 0.9;
    }
    80%{
        opacity: 0.4;
    }
    100%{
        opacity: 1;
    }
}
@keyframes blink2{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes moveBottomToTop{
    from{
        top: 100%;
        transform: translate(0, 0);
    }
    to{
        top: 0;
        transform: translate(0, -100%);
    }
}
@keyframes translating{
    0%{
        left: 100%;
    }
    10%{
        left: 50%;
    }
    20%{
        left: 30%;
    }
    30%{
        left: 70%;
    }
    40%{
        left: 40%;
    }
    50%{
        left: 0%;
    }
    60%{
        left: 20%;
    }
    70%{
        left: 50%;
    }
    80%{
        left: 60%;
    }
    90%{
        left: 90%;
    }
    100%{
        left: 100%;
    }
}
@keyframes scaling{
    0%{
        transform: scaleX(0);
    }
    20%{
        transform: scaleX(0.5);
    }
    40%{
        transform: scaleX(0.1);
    }
    60%{
        transform: scaleX(0.7);
    }
    80%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
    }
}
@keyframes translating2{
    0%{
        left: 85%;
    }
    10%{
        left: 75%;
    }
    20%{
        left: 65%;
    }
    30%{
        left: 80%;
    }
    40%{
        left: 60%;
    }
    50%{
        left: 50%;
    }
    60%{
        left: 35%;
    }
    70%{
        left: 15%;
    }
    80%{
        left: 50%;
    }
    90%{
        left: 70%;
    }
    100%{
        left: 85%;
    }
}