@keyframes blink{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 0.5;
    }
    40%{
        opacity: 0.7;
    }
    60%{
        opacity: 0.9;
    }
    80%{
        opacity: 0.4;
    }
    100%{
        opacity: 1;
    }
}
@keyframes moveBottomToTop{
    from{
        top: 100%;
        transform: translate(0, 0);
    }
    to{
        top: 0;
        transform: translate(0, -100%);
    }
}