div#grid-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "top  top    top    top    right"
        "left center center center right"
        "left center center center right"
        "left center center center right"
        "left bottom bottom bottom bottom";
    gap: 10px;
}