.lineGraph{
    position: absolute;
    color: #00ffd7;
    font-family: rainyhearts;
    font-size: 4px;
    white-space: nowrap;
}
.lineGraph-object{
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    transform-style: preserve-3d;
}
.lineGraph-element{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}



/* line graph back */
.lineGraph-back{
    position: relative;
    width: 100%;
    height: 100%;
}
.lineGraph-back-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 88%;
}
.lineGraph-back-columns{
    width: 100%;
    height: 100%;
}
.lineGraph-back-rows{
    width: 100%;
    height: 100%;
}
/* line graph axis */
/* X */
.lineGraph-back-axisX{
    width: 100%;
    height: 100%;
    display: flex;
}
.lineGraph-back-axisX-box{
    width: 100%;
    height: 1px;
    display: flex;
}
.axisX-point{
    flex: 1;
    background: #00ffd7;
}
/* Y */
.lineGraph-back-axisY{
    width: 100%;
    height: 100%;
    display: flex;
}
.lineGraph-back-axisY-box{
    width: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.axisY-point{
    /* flex: 1; */
    height: 1px;
    background: #00ffd7;
}
/* line graph lines */
.lineGraph-back-lines{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #00ffd7;
    border-top: none;
}
.lineGraph-back-line{
    position: absolute;
    width: 2px;
    height: 100%;
    transform: translateZ(0);
}