.lineGraph{
    position: absolute;
    color: #00ffd7;
    font-family: rainyhearts;
    font-size: 4px;
    white-space: nowrap;
}
.lineGraph-object{
    width: 100%;
    height: 100%;
}
.lineGraph-element{
    width: 100%;
    height: 100%;
}



/* line graph back */
.lineGraph-back{
    position: relative;
    width: 100%;
    height: 100%;
}
.lineGraph-back-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 88%;
}
.lineGraph-back-column{
    width: 100%;
    height: 100%;
}
/* line graph axis x */
.lineGraph-back-axisX{
    width: 100%;
    height: 1px;
    display: flex;
}
.axisX-point{
    flex: 1;
    background: #00ffd7;
}