@import url('animation.css');
@import url('gridContainer.css');
@import url('vSection.css');
@import url('vColumn.css');
@import url('test.css');


@font-face {
    font-family: OxaniumRegular;
    src: url('../font/Oxanium-Regular.ttf');
}
@font-face {
    font-family: OxaniumSemiBold;
    src: url('../font/Oxanium-SemiBold.ttf');
}
@font-face {
    font-family: rainyhearts;
    src: url('../font/rainyhearts.ttf');
}


/* init */
html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    overflow: hidden;
    position: absolute;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


div#canvas-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
canvas#canvas{
    position: absolute;
    top: 0;
    left: 0;
}