.test{
    position: absolute;
    color: #00ffd7;
    font-family: rainyhearts;
    font-size: 4px;
    white-space: nowrap;
}
.test-object{
    width: 100%;
    height: 100%;
}
.test-object canvas{
    width: 100%;
    height: 100%;
}
.test-element{
    width: 100%;
    height: 100%;
}
.test-columns{
    width: 100%;
    height: 100%;
    gap: 4px;
}
.test-column{
    flex: 1;
    position: relative;
}
.test-child{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 94%;
}


/* search */
.test-search{
    position: absolute;
    width: 100%;
    height: 100%;
}
.search-box{
    position: absolute;
    width: auto;
    height: 100%;
    /* background: #00ffd7; */
}
.search-box-texts{
    position: absolute;
    height: 100%;
    bottom: 5%;
    transform: scale(0.75);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3px;
}
.search-box-title{
    color: white;
}
.search-box-text{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.search-box-line{
    position: absolute;
    width: 2px;
    height: 80%;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    background: linear-gradient(to bottom, transparent, #00ffd7, transparent);
}
.search-horizon-bars{
    width: 30px;
    display: flex;
    flex-direction: column-reverse;
}
.search-horizon-bar{
    position: relative;    
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
}
.search-horizon-bar > div{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 50%;
}


/* vertical numbers */
.test-vertNums{
    overflow: hidden;
}
.vertNums-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.vertNums-text{
    position: absolute;
    /* transform: scale(0.75); */
}
.vertNums-text span{
    display: inline-block;
    transform: scale(0.75);
}


/* bottom */
.test-bottom{
    width: 100%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    position: absolute;
}
.bottom-box{
    width: 100%;
    height: 32px;
    display: flex;
    position: relative;
    /* gap: 3%; */
}
/* bottom circles */
.bottom-circles{
    position: relative;
    width: 30%;
    overflow: hidden;
}
.bottom-circles-box{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}
.bottom-circle{
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #00ffd7;
    border-radius: 50%;
    box-sizing: border-box;
}
/* bottom texts */
.bottom-texts{
    flex: 0.2;
    position: relative;
}
.bottom-texts-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: scale(0.6) translate(0, 50%) ;
    transform-origin: left;
    position: relative;
}
.bottom-text{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 22%;
}
.bottom-text p{
    flex: 1;
}
/* bottom version */
.bottom-version{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(0, -65%);
    display: flex;
    flex-direction: column;
}
.bottom-version > div{
    transform: scale(0.8);
    transform-origin: left;
}


/* top */
.test-top{
    width: 100%;
    display: flex;
    position: absolute;
}
.top-box{
    width: 100%;
    height: 32px;
    display: flex;
}
.top-code{
    flex: 1;
}
.top-code-box{
    height: 100%;
    display: flex;
    gap: 3px;
}
.code-bg{
    background: #00ffd715;
}
.code-head{
    width: 5px;
}
.code-body{
    flex: 1;
    position: relative;
    overflow: hidden;
}
/* top code num */
.code-numbers{
    display: flex;
}
.code-number p{
    transform: scale(0.6);
    transform-origin: left;
}
/* top code title */
.top-code-title{
    position: absolute;
    right: 0;
}
.code-title{
    font-size: 10px;
    letter-spacing: 2px;
}
/* top code flow */
.top-code-flow{
    position: relative;
    width: 100%;
    height: 100%;
}
.code-flow-box{
    position: absolute;
    right: 0;
    width: 97%;
    height: 100%;
    overflow: hidden;
}
.code-flow-text{
    position: absolute;
    top: 100%;
    transform: translate(0, 0);
    letter-spacing: 2px;
}
.code-flow-text p{
    transform-origin: left;
    transform: scale(0.6);
}