.test{
    position: absolute;
    color: #00ffd7;
}
.test-object{
    width: 100%;
    height: 100%;
}
.test-object canvas{
    width: 100%;
    height: 100%;
}
.test-element{
    width: 100%;
    height: 100%;
}
.test-search-box{
    position: absolute;
    width: auto;
    height: 100%;
    /* background: #00ffd7; */
}
.test-search-box-texts{
    position: absolute;
    bottom: 10%;
    transform: translate(12%, 0);
    font-family: rainyhearts;
    font-size: 4px;
    white-space: nowrap;
}
.test-search-box-line{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    background: linear-gradient(to bottom, transparent, #00ffd7, transparent);
}